# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# # Excel files
# data/excel/*.xlsx

# Database files
*.db
*.sqlite3

# Logs
*.log

# System files
.DS_Store
Thumbs.db